.overview:hover, .client:hover, .user:hover {
    background: gray;
    cursor: pointer;
}
.overview, .client, .user {
    margin-top: 10px;
}
.right {
    width: 15%;
}
.clients, .users, .overview {
    text-decoration: none;
}